<!-- Image and text -->
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/2000px-Git-logo.svg.png" alt="" height="70px"class="d-inline-block align-top" alt="">
        <span>Search</span>
    </a>
  </nav>
<div style="background-color:#305659 ; background-size: cover; background-attachment: fixed; width: 100%; height: 100px; padding: 275px ;" class="landing">
  
    
  <div class="overlay">
     
     <button class="btn btn-outline-warning">Get Started</button>
  </div>
</div>