<!-- <div class="container-fluid"> -->
<nav style="background-color:#3b6c70 ;" class="navbar navbar-light">
    <h1> <a class="navbar-brand" href="#">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Git-logo-black.svg/500px-Git-logo-black.svg.png" alt="" height="70px"class="d-inline-block align-top" alt="">
     </a>  <span style="font-family: 'Cinzel Decorative', cursive; font-size: 40px;">Search</span></h1>
     <div row>
        <!-- <div class="col-md-6"> -->
            <div class="form-group">
                <input type="text" name="" placeholder="Search..." class="form-control"></div>
        <!-- </div> -->
      </div>
   </nav>
   <img src="https://avatars2.githubusercontent.com/u/40592474?v=4" alt="">
<!-- </div> -->
<!-- {{login.name}} -->
