<!-- <div class="container-fluid"> -->
<nav style="background-color:#3b6c70 ;" class="navbar navbar-light">
    <h1> <a class="navbar-brand" href="#">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/2000px-Git-logo.svg.png" alt="" height="70px"class="d-inline-block align-top" alt="">
     </a>  <span style="font-family: 'Cinzel Decorative', cursive; font-size: 40px;">Search</span></h1>
     <div row>
        <!-- <div class="col-md-6"> -->
            <div class="form-group">
                <input type="text" name="" placeholder="Search..." class="form-control"></div>
        <!-- </div> -->
      </div>
      
   </nav>
<!-- </div> -->


